/* 首先不支持动态, 即时用的是 APNG 或 GIF */
/* 其次写在一个标签下 前面的会被后面的覆盖 */
/* 指定 URL 后且加载成功后, 第二个参数就不生效了 */

html {
    cursor: url("/cursor/cursor_default.cur"), auto;
}

a {
    cursor: url("/cursor/cursor_pointer.cur"), pointer;
}

code {
    cursor: url("/cursor/cursor_green.cur"), text;
}

input {
    cursor: url("/cursor/cursor_green.cur"), text;
}

.copy-code {
    cursor: url("/cursor/cursor_red.cur"), copy;
}