{{/*  fish  */}}
{{- if (eq .Kind `page`) -}}
{{- with resources.Get "js/render.js" -}}
<script type="text/javascript" src="{{ .RelPermalink }}"></script>
{{- end -}}
<div id="jsi-flying-fish-container" class="container"></div>
<script>
    window.onload = () => {
        RENDERER.init();
    }
</script>
{{- end -}}



{{/* 鼠标点击firework */}}
{{- with resources.Get "js/firework.js" -}}
<script src="{{ .RelPermalink }}"></script>
{{- end -}}



{{/* Aplayer */}}
{{ if and .IsPage (ne .Params.layout "archives") (ne .Params.layout "search") -}}

<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<div id="aplayer"></div>
<link href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="stylesheet">

<script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,
        autoplay: true,
        theme: '#F0FFFF',  // #2E2E2E #002366 #FFDAB9
        order: 'random',
        // mutex: true,    // 为何不生效?
        lrcType: 3,
        audio: [
            {
                name: '披星戴月的想你',
                artist: '告五人',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/告五人 - 披星戴月的想你.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/MOONCAKE.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/披星戴月的想你.lrc',
            },
            {
                name: '鲜花',
                artist: '回春丹',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/回春丹 - 鲜花.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/AKU HEADBANG.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/鲜花.lrc',
            },
            {
                name: '黑夜问白天',
                artist: '林俊杰',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/林俊杰 - 黑夜问白天.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/KYO.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/黑夜问白天.lrc',
            },
            {
                name: '浪漫血液',
                artist: '林俊杰',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/林俊杰 - 浪漫血液.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/HATTIE.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/浪漫血液.lrc',
            },
            {
                name: '雨还是不停地落下',
                artist: '孙燕姿',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/孙燕姿 - 雨还是不停地落下.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/TRISH.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/雨还是不停地落下.lrc',
            },
            {
                name: '爱我还是他',
                artist: '陶喆',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/陶喆 - 爱我还是他.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/ON AIR!.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/爱我还是他.lrc',
            },
            {
                name: '望春风',
                artist: '陶喆',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/陶喆 - 望春风.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/HER.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/望春風.lrc',
            },
            {
                name: '浮光',
                artist: '周深',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/周深 - 浮光.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/GOLDISCO.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/浮光.lrc',
            },
            {
                name: '若梦',
                artist: '周深',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/周深 - 若梦.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/BUTTERFLIES.png',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/若梦.lrc',
                theme: '#E6E6FA'
            },
            {
                name: '焰火',
                artist: '周深',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/audio/周深 - 焰火.mp3',
                cover: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/cover/YU.gif',
                lrc: 'https://cdn.jsdelivr.net/gh/wooyiny/blog-assets@main/aplayer/lrc/焰火.lrc',
            },
        ]
    });
</script>

<style>
    #aplayer {
        opacity: 0.55;
    }
    .aplayer-lrc-contents {
        text-shadow: -1px -1px 1px rgba(250, 223, 163, 1);
    }
</style>
{{- end -}}



{{/* canvas-nest，排除首页 */}}
{{- if not .IsHome -}}
{{/* 新版本的显示效果不好 老版本也没依赖 jQuery */}}
{{/*  <script type="text/javascript" color="30, 144, 255" opacity='0.5' zIndex="-2" count="150"
    src="https://cdn.jsdelivr.net/npm/canvas-nest.js@2.0.4/dist/canvas-nest.min.js"></script>  */}}
<script color="30, 144, 255" opacity='0.5' zIndex="-2" count="150"
    src="https://cdn.jsdelivr.net/npm/canvas-nest.js@1.0.1/dist/canvas-nest.min.js"></script>
{{- end -}}
