{{/*  fish  */}}
{{- if (eq .Kind `page`) -}}
{{- with resources.Get "js/render.js" -}}
<script type="text/javascript" src="{{ .RelPermalink }}"></script>
{{- end -}}
<div id="jsi-flying-fish-container" class="container"></div>
<script>
    window.onload = () => {
        RENDERER.init();
    }
</script>
{{- end -}}



{{/* 鼠标点击firework */}}
{{- with resources.Get "js/firework.js" -}}
<script src="{{ .RelPermalink }}"></script>
{{- end -}}



{{/* Aplayer */}}
{{ if and .IsPage (ne .Params.layout "archives") (ne .Params.layout "search") -}}

<script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
<div id="aplayer"></div>
<link href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" rel="stylesheet">

<script>
    const ap = new APlayer({
        container: document.getElementById('aplayer'),
        fixed: true,
        autoplay: true,
        theme: '#F0FFFF',
        order: 'random',
        // mutex: true,    // 为何不生效?
        audio: [
            {
                name: '披星戴月的想你',
                artist: '告五人',
                url: 'https://raw.githubusercontent.com/wooyiny/PicGo-AudioRepo/main/披星戴月的想你.flac',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/MOONCAKE.gif',
            },
            {
                name: '爱我还是他',
                artist: '陶喆',
                url: 'https://raw.githubusercontent.com/wooyiny/PicGo-AudioRepo/main/%E7%88%B1%E6%88%91%E8%BF%98%E6%98%AF%E4%BB%96.flac',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/MOVAVI%20ON%20AIR!.gif',
            },
            {
                name: '望春风',
                artist: '陶喆',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/PicGo-AudioRepo@main/%E6%9C%9B%E6%98%A5%E9%A3%8E.flac',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/蓬蓬球.png',
                theme: '#FFDAB9'
            },
            {
                name: '浮光',
                artist: '周深',
                url: 'https://cdn.jsdelivr.net/gh/wooyiny/PicGo-AudioRepo@main/%E6%B5%AE%E5%85%89.mp3',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/CONSTELLATION.png',
                theme: '#002366'
            },
            {
                name: '若梦',
                artist: '周深',
                url: 'https://raw.githubusercontent.com/wooyiny/PicGo-AudioRepo/main/若梦.flac',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/一袋豆子.png',
                theme: '#E6E6FA'
            },
            {
                name: '黑夜问白天',
                artist: '林俊杰',
                url: 'https://raw.githubusercontent.com/wooyiny/PicGo-AudioRepo/main/黑夜问白天.flac',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/COMMANDO.png',
                theme: '#2E2E2E',
            },
            {
                name: '浪漫血液',
                artist: '林俊杰',
                url: 'https://raw.githubusercontent.com/wooyiny/PicGo-AudioRepo/main/浪漫血液.flac',
                cover: 'https://raw.githubusercontent.com/wooyiny/PicGo-ImageRepo/main/audio-covers/HATTIE.gif',
            },
        ]
    });
</script>

<style>
    #aplayer {
        opacity: 0.55;
    }
</style>
{{- end -}}



{{/* canvas-nest，排除首页 */}}
{{- if not .IsHome -}}
{{/* 新版本的显示效果不好 老版本也没依赖 jQuery */}}
{{/*  <script type="text/javascript" color="30, 144, 255" opacity='0.5' zIndex="-2" count="150"
    src="https://cdn.jsdelivr.net/npm/canvas-nest.js@2.0.4/dist/canvas-nest.min.js"></script>  */}}
<script color="30, 144, 255" opacity='0.5' zIndex="-2" count="150"
    src="https://cdn.jsdelivr.net/npm/canvas-nest.js@1.0.1/dist/canvas-nest.min.js"></script>
{{- end -}}
